<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/general.css">
    <link rel="stylesheet" type="text/css" href="../css/forms.css">
    <link rel="stylesheet" type="text/css" href="../css/main.css">
    <link rel="stylesheet" type="text/css" href="../css/menu.css">
    <link rel="stylesheet" type="text/css" href="../css/table.css">

    <title>Document</title>

    <style>

    </style>
</head>

<body>
    <div class="container">
        <div class="menuBar">
            <a class="menuItem" href='#'>Testar Jogo</a>
            <a class="menuItem ml-5" href='./atacks'>Ataques</a>
            <a class="menuItem ml-5" href='./monsters'>Monstros</a>
            <a class="menuItem ml-5" href='./players'>Players</a>
            <a class="menuItem ml-5" href='/'>Sair</a>
        </div>
        <div class="main">
            <button onclick="window.location.href='./atacks/formNew'">Novo ataque</button>
            <div class="divTable">
                <table>
                    <tr>
                        <th class="tbHead"> Ações </th>
                        <th class="tbHead"> Nome do ataque </th>
                        <th class="tbHead"> Tipo </th>
                        <th class="tbHead"> Dano </th>
                        <th class="tbHead"> Energia </th>
                    </tr>
                    <% 
                        function getNameType(code) {
                            switch (code) {
                                case 0: return 'normal'; break;
                                case 1: return 'água'; break;
                                case 2: return 'fogo'; break;
                                case 3: return 'elétrico'; break;
                                case 4: return 'gelo'; break;
                            }
                        }                    
                    %>
                    <% for (let i = 0; i < atacks.length; i++) { %>
                    <tr>
                        <th class="tbBody">
                            <button onclick="window.location.href='atacks/<%=atacks[i]._id%>'">Editar</button>
                            <button onclick="window.location.href='atacks/delete/<%=atacks[i]._id%>'">Excluir</button>
                        </th>
                        <th class="tbBody"> <%=atacks[i].name %> </th>
                        <th class="tbBody"> <%=getNameType(atacks[i].type) %> </th>
                        <th class="tbBody"> <%=atacks[i].damage %> </th>
                        <th class="tbBody"> <%=atacks[i].energy %> </th>
                    </tr>
                    <% } %>
                </table>
            </div>
        </div>
    </div>
</body>

</html>